.header {
    background: $blackLight;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 27px;
        padding-bottom: 27px;
    }

    &__logo {
        &-icon {
            max-width: 68px;

            path {
                transition: 200ms ease all;
            }
        }

        &:hover &-icon path {
            fill: $blue;
        }
    }

    &__nav {
        &-list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 16px;

            &-item {
                margin-right: 32px;
                transition: 200ms ease all;
                opacity: .6;
                position: relative;

                &:last-child {
                    margin-right: 0;
                }

                &::before {
                    content: '';
                    width: 0;
                    height: 3px;
                    background: $orange;
                    position: absolute;
                    left: 0;
                    top: -28px;
                    transition: 200ms ease all;
                }

                &:hover {
                    opacity: 1;

                    &::before {
                        width: 100%;
                    }
                }

                &--active {
                    opacity: 1;

                    &::before {
                        width: 100%;
                    }
                }

                &--modal {
                    opacity: 1;
                    color: $biege;
                    margin-left: 13px;
                    display: inline-flex;
                    align-items: center;

                    &::after {
                        content: url('../src/img/right-arrow.svg');
                        position: relative;
                        margin-left: 8px;
                        bottom: 2px;
                        transition: 200ms ease all;
                    }

                    &:hover {
                        color: $orange;

                        &::after {
                            transform: translateX(7px);
                        }
                    }

                    &::before {
                        content: none;
                    }
                }
            }
        }
    }

    &__burger {
        display: none;
        width: 45px;
        min-width: 45px;
        height: 45px;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        padding: 0 9px;

        &-line {
            display: inline-block;
            width: 27px;
            height: 2px;
            background: #fff;
            border-radius: 2px;
            margin-bottom: 4px;
            transition: 200ms ease all;
            position: relative;

            &:nth-child(2) {
                width: 19px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        &__container {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        &__burger {
            display: inline-flex;
        }

        &__nav {
            position: absolute;
            left: -200vw;
            top: 75px;
            width: 100%;
            z-index: 3;
            padding: 20px 15px 35px;
            background: $blackLight;
            transition: 400ms ease all;

            &-list {
                flex-direction: column;
                align-items: flex-start;

                &-item {
                    margin-right: 0;
                    margin-bottom: 10px;

                    &::before {
                        content: none;
                    }

                    &--modal {
                        margin: 0;
                    }
                }
            }
        }

        &--opened {
            .header__burger {
                &-line {
                    &:nth-child(1) {
                        transform: rotate(45deg);
                        top: 3px;
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        top: -3px;
                    }
                }
            }

            .header__nav {
                left: 0;
            }
        }
    }
}