*::before,
*::after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

select {
    appearance: none;
}

input[type='number'] {
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}

input[type="submit"] {
    appearance: none;
    cursor: pointer;
    outline: none;
}

html {
    touch-action: manipulation;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: $white;
    color: $black;
    font-size: 16px;
    user-select: none;
    position: relative;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body--modal {
    overflow: hidden;
}

main {
    flex: 1;
}